@using StackExchange.Profiling;
<!DOCTYPE html>
<html lang="en">
<head>
    @this.InitClientTimings()
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="/favicon.ico">
    @this.TimeScript("bootstrap.min.css", @<link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />)
    @this.TimeScript("dotnetrepl.css", @<link href="@Url.Content("~/Content/dotnetrepl.css")" rel="stylesheet" type="text/css" />)
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="/">.NET REPL</a>
                <nav class="nav-collapse collapse">
                    <ul class="nav">
                        <li>
                            <a href="https://github.com/Gobiner/DotNetRepl" target="_blank">
                                https://github.com/Gobiner/DotNetRepl
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class="container">
        <section id="main">
            @RenderBody()
        </section>
    </div>
    @this.TimeScript("jQuery 1.5.1", @<script src="@Url.Content("~/Scripts/jquery-1.8.2.min.js")" type="text/javascript"></script>)
    @this.TimeScript("bootstrap.min.js", @<script src="@Url.Content("~/Scripts/bootstrap.min.js")" type="text/javascript"></script>)
    @this.TimeScript("modernizr", @<script src="@Url.Content("~/Scripts/modernizr-1.7.min.js")" type="text/javascript"></script>)
    @this.TimeScript("spin.min.js", @<script src="@Url.Content("~/Scripts/spin.min.js")" type="text/javascript"></script>)
    @this.TimeScript("dotnetrepl", @<script src="@Url.Content("~/Scripts/dotnetrepl.js")" type="text/javascript"></script>)
    @MiniProfiler.RenderIncludes()
</body>
</html>
